<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.pc.chatting">

    <!-- retrofit -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- camera -->
    <uses-feature android:name="android.hardware.CAMERA"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.ChatListAcivity">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity
            android:name=".activity.CameraPopupActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.pc.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activity.addfrindacitvity"
            android:label="@string/title_activity_addfrindacitvity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activity.AddFrindActivity"
            android:label="@string/title_activity_add_frind"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.SelectActivity">
        </activity>
        <activity android:name=".activity.SignUpOneActivity">
        </activity>
        <activity android:name=".activity.SignUpTwoActivity">
        </activity>
        <activity android:name=".activity.SignUpThreeActivity">
        </activity>
        <activity android:name=".Drawer_Activity">
        </activity>
        <activity android:name=".activity.ChatActivity">
        </activity>
        <activity
            android:name=".test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>